* {
	box-sizing: border-box;
}

body{
	font-family: Helvetica, Arial, sans-serif;
	display: block;
	margin: 8px;
	background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQZccyMESFkkQHM1moQB8tLwmXfc83vd3tvRXa8LMio4ocB2Wm_cg);
	background-size: cover;
}
h1 {
	font-size: 30px;
	text-align: center;
	color: tomato;
	// font-size: 12vw;
}
.tabcontent__tab {
    width: 20%;
    display: inline-block;
    vertical-align: top;
    font-size: medium;
    text-align: center;
	 margin-left: 25px;
    padding: 20px;
    color: #fff;
    background: #22313F;
    cursor: help;
}
.panel-heading{
	color: magenta;
}
.panel{
	margin-bottom: 0px;
}
td{
	width: 10%;

}
